Using Print Functions i.e Built-in

In [3]:
#Python is case sensitive language
print('Hello Sachin Lets Start Hustle')

Hello Sachin Lets Start Hustle

In [4]:
print(7.5)

7.5

In [5]:
print(True)

True

In [6]:
print('hello',1,22.5,True)

hello 1 22.5 True

In [2]:
# Here We Remove the Space from the print functions
print('Sachin',22,25.2,True, sep="")

Sachin2225.2True

In [3]:
print('Hello', end=' ')
print('Sachin')

Hello Sachin

2. Data Types

In [5]:
#integer
print(5)
#1*10^308 It can evaluate till this range
print(1e308)

5
1e+308

In [7]:
# Decimal/Float
print(8.84)
print(1.7e308)
print(1.7e309)

8.84
1.7e+308
inf

In [8]:
#Boolean
print(True)
print(False)

True
False

In [9]:
#Text/String
print('Hello Sachin')

Hello Sachin

In [10]:
# Complex Number
print(5+6j)

(5+6j)

In [11]:
#List => in C => Array
print([1,2,5,6])

[1, 2, 5, 6]

In [12]:
# Tuple  => ()
print((1,2,6,5))

(1, 2, 6, 5)

In [13]:
# Sets
print({1,2,4,5})

{1, 2, 4, 5}

In [16]:
# Dictionary Most usefull Data Types => { Key:Vales } Pairs
print({'Name':'Sachin','Gender':'Male'})

{'Name': 'Sachin', 'Gender': 'Male'}

In [21]:
# Type
type(55+4j)
type([1,55,6])

list

3. Variables

In [36]:
# Here Data Types mention is not necessary
Name = "Sachin"         #Here name is the varaible
print(Name, end=' ')
print("Yadav", end=' ')
print("IT Engineer")
type(Name)

Sachin Yadav IT Engineer

str

In [ ]:
# Dynamic Typing
# a = 50
# Static Typing
# int a = 55

In [ ]:
# Dynamic Binding
# a = 55
# a = "Sachin"

# Static Binding
# int a = 5

In [40]:
# Styling the Variables
a,b,c = 10,20,50
print(a,b,c)

10 20 50

In [39]:
# Assigning the Same Value
a=b=c=5
print(a,b,c)

5 5 5

In [41]:
# Comments
# this is Comment

4. Keywords and Identifiers

In [42]:
# Keywords
# this for reserved words

# Identifiers
# Variable name can't start in digit i.e 1name
# To use special character we can only use underscore => _
# identifiers can't be keywords

5. User Input

In [45]:
# Static Software vs Dynamic Software
input(' Designation ')

'Engineer'

In [67]:
# Take input from users and store them in a variable
Fnum = input("Enter the first number ")
Snum = input("Enter the Second number ")
print("Entered Two Numbers are :",Fnum,',' ,Snum)

# add the number of 2 variable
result = int(Fnum) + int(Snum)

#print the result
print(result)

# Here the result is showing the string operation where number is concentet i.e 11+20 = 1120
# For this we have to do type conversions

Entered Two Numbers are : 50 , 60
110

6. Type Conversion

In [66]:
# Implicit Vs Explicit

# Implicit
print(10+20.5)
print(type(10), type(20.5))

# Explicit
# Str -> int
print(int(5.8))
print(type(int(5.8)))

# int -> Str
str(500.5)
type(str(500.5))

30.5
<class 'int'> <class 'float'>
5
<class 'int'>

str

7. Literals

In [79]:
a = 0b1010 # Binary Literals
b = 100 # Decimal Literals
c = 0o310 # Octal Literals
d = 0x12c # Hexadecimal Literals
print(a,b,c,d)

# Float Literals
float1 = 10.5
float2 = 1.5e2 # 1.5*10^2
float3 = 1.5e-2
print(float1,float2,float3)

# Complex Literals
complex1 = 2.5j
print(complex1.real,complex1.imag, complex1)

# Boolean Literals
e = True + 10
f = False + 10
print('a :',e,',', end=" ")
print("b :",f)

# None
g = None
print(g)

10 100 200 300
10.5 150.0 0.015
0.0 2.5 2.5j
a : 11 , b : 10
None