### 1.Tuple

###  (A). Creating Tuple
- Tuple are immutable

In [9]:
a = ()
print(a)
# Creating Tuple with Single Item
a1 = (2)
print(type(a1))
# The Difference is add comma
a2 = (2,)
print(type(a2))
# Homogeneous Tuple
a3 = (2,3,5,0)
print(a3)
# Hetrogeneous Tuple
a4 = (2,1.5,True)
print(a4)
# 2D Tuple
a5 = (2,(4,3,50))
print(a5)
# Using Type conversion
a6 =  tuple('hello')
print(a6)

()
<class 'int'>
<class 'tuple'>
(2, 3, 5, 0)
(2, 1.5, True)
(2, (4, 3, 50))
('h', 'e', 'l', 'l', 'o')

### (B). Accessing the Value

In [13]:
# Indexing
print(a3[2])
print(a3)
print(a3[-1])

5
(2, 3, 5, 0)
0

In [19]:
# Slicing
print(a3[0:])
print(a3[-1:])
print(a3[0:-1])
print(a3[-1:0])
print(a3[-1::-1])

(2, 3, 5, 0)
(0,)
(2, 3, 5)
()
(0, 5, 3, 2)

### (C). Editing in Tuple

In [20]:
a3[1] = 100
print(a3)

TypeError: 'tuple' object does not support item assignment

### (D). Adding Items

In [21]:
# Not Possible

### (E). Deletion

In [22]:
del a5
print(a5)

NameError: name 'a5' is not defined

### (F). Operation in Tuple

In [26]:
# + and *
t1 = (1,2,4,5,6)
t2 = (7,8,9,10)
print(t1 + t2)                      # Here the Concatenation operation is performed
print(t1*2)                         # Here the Mutltiplication of tuple is done

(1, 2, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 4, 5, 6, 1, 2, 4, 5, 6)

In [28]:
# MemberShip Function
1 in t1
1 not in t1

False

In [30]:
# Iteration
for i in t1:
    print(i, end=' ')

1 2 4 5 6

### (G). Tuple Function

In [32]:
t1 = (1,2,4,5,6)
# Min
print(min(t1))
# Max
print(max(t1))
# Sum
print(sum(t1))
# Len
print(len(t1))
# Sorted
print(sorted(t1,reverse=True))

1
6
18
5
[6, 5, 4, 2, 1]

In [33]:
# Count
t1 = (1,2,4,4,5,5,5,6)
print(t1.count(5))

3

In [37]:
# Index
print(t1.index(4))

2

In [40]:
# Special Syntax
# Tuple Unpacking Syntax
a, b, c =(1,2,3)
print(a,b,c)

1 2 3

In [41]:
# Value Swap
a = 1
b = 2
a ,b = b,a
print(a,b)

2 1

In [42]:
# If we want only two value from tuple
a,b,*others = (1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [48]:
# Zipping in Tuple

t1 = (1,2,3,4,5,6)
t2 = (7,8,9,10,11,12)
print(tuple(zip(t1,t2)))
print(list(zip(t1,t2)))

((1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12))
[(1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12)]

### (H). Sets
- Mutable
- Unordered
- No Duplicate
- Can't contain mutable data type

In [59]:
# Empty Set
s = {}
print(type(s))
print(s)
# Set with single Value
s1 = {2}
print(s1)
print(type(s1))
# 1D and 2D Set
s3 = {1,(2,3),4}
print(s3)
# Type Conversion of set
s4 = set([1,2,4,5])
print(type(s4))
print(s4)

<class 'dict'>
{}
{2}
<class 'set'>
{(2, 3), 1, 4}
<class 'set'>
{1, 2, 4, 5}

### (I). Accessing Items

In [65]:
# Accessing does not work
s = {1,2,3,4}
print(s[0])

TypeError: 'set' object is not subscriptable

### (J). Editing Items

In [62]:
# In set Editing Items doesn't work
s[0] = 100

TypeError: 'set' object does not support item assignment

### (K). Adding Items

In [67]:
# Add Items in Set
s.add(5)
print(s)
# Update Items in set
s.update([6,7,8,9])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

### (L). Delete Items in Set

In [81]:
# Del
#del s1
#print(s1)
# Discard works to delete the particular Items
#s.discard(9)
#print(s)
# Remove
#s.remove(8)
#print(s)
# POP Will Delete the Random Item in sets
#s.pop()
#print(s)
# Clear will delete all elements in sets
s.clear()
print(s)

set()

### (M). Operation Items in Set

In [95]:
s1 = {1,2,3,4,5,6}
s2 = {7,8,6,5,4,2,1}
# Union
s1|s2
# Intersection
s1&s2
# Difference
s2-s1
# Symmetric Difference
s1^s2

{3, 7, 8}

In [99]:
# Membership Function
1 in s1
1 not in s2

False

In [102]:
# Iteration
for i in s1:
    print(i, end=' ')

1 2 3 4 5 6

### (N). Set Function

In [104]:
#Len
print(s1)
print(len(s1))
#Max
print(max(s1))
#Min
print(min(s1))
#sum
print(sum(s1))
#sorted
print(sorted(s1, reverse=True))

{1, 2, 3, 4, 5, 6}
6
6
1
21
[6, 5, 4, 3, 2, 1]

In [133]:
# Union/Update
s1 = {1,2,3,4,5}
s2 = {6,7,8,1,2,3}
#print(s1)
#print(s2)
print(s2.union(s1))
print(s2.update(s1))

{1, 2, 3, 4, 5, 6, 7, 8}
None

In [143]:
# Intersection/Intersection-Update
s1 = {1,2,3,4,5}
s2 = {6,7,8,1,2,3}
#print(s1.intersection(s2))
s1.intersection_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3, 6, 7, 8}

In [144]:
# isdisjoint will check the common items
s1 = {1,2,3,4,5}
s2 = {6,7,8,1,2,3}
s1.isdisjoint(s2)

False

In [154]:
# Issubset main set item present in the second set
s1 = {1,2,3,4}
s2 = {1,2,3}
s2.issubset(s1)

True

In [148]:
# issupperset here main set of others.
s1.issuperset(s2)

True

In [155]:
# It will create shallow Copy
s2 = s1.copy()
print(s1)

{1, 2, 3, 4}

### (O). Frozen Set
- Frozen set is just an immutable version of python set object

In [158]:
# This is used only for the read only application
s = frozenset([1,2,3,4])
print(s)

frozenset({1, 2, 3, 4})

### Set Comprehension

In [159]:
{i for i in range(1,10)}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Dictionary
- It is Also known as map or Associative Arrays
- Mutable
- keys can't be mutable
- keys can't be duplicate
- indexing has no meaning

In [169]:
# Creating Dictionary
d = {}
print(d)
# 1D Dictionary
d = {'Name':'Sachin', 'Gender': 'Male'}
print(d)
# 2D Dictionary  ---> Json use this Data Type for storing Data
s = {
    'name': 'Sachin',
    'College': 'TCOE',
    'Sem': 'VIII',
    'Subjects': {
        'BLC' : 80,
        'CCL' : 85,
        'DMB' : 95
    }
}
print(s)
# Using Sequence and Dict Function
d1 = dict([('Name','Sachin'),('Roll No', 54),('Batch',3)])
d1
# Duplicate Keys
d2 = {'Name': 'Sachin','Name': 'Saurav'}
d2
# Mutable Items as Keys
d3 = {'name': 'Sachin', 'Name':['Name','Sachin']}
d3

{}
{'Name': 'Sachin', 'Gender': 'Male'}
{'name': 'Sachin', 'College': 'TCOE', 'Sem': 'VIII', 'Subjects': {'BLC': 80, 'CCL': 85, 'DMB': 95}}

{'name': 'Sachin', 'Name': ['Name', 'Sachin']}

### Accessing items

In [181]:
d = {'Name':'Sachin', 'Gender': 'Male'}
# []
d['Name']
# get
d.get('Gender')
s['Subjects']['CCL']

85

### Adding Key-Value Pair

In [185]:
d['Age'] = 25
d
s['Subjects']['BDA'] = 80
s

{'name': 'Sachin',
 'College': 'TCOE',
 'Sem': 'VIII',
 'Subjects': {'BLC': 80, 'CCL': 85, 'DMB': 95, 'BDA': 80}}

### Remove Key-Value pair

In [174]:
d.pop('Age')
d

KeyError: 'Age'

In [175]:
d

{'Name': 'Sachin', 'Gender': 'Male'}

In [176]:
# POP ITEM : Here it will Remove the last Key value Pair
d.popitem()
d

{'Name': 'Sachin'}

In [177]:
del d['Name']

In [178]:
d

{}

In [179]:
d = {'Name':'Sachin', 'Gender': 'Male'}
d.clear()

In [180]:
d

{}

### Editing Item

In [186]:
s['Subjects']['Data-Science'] = 90
s

{'name': 'Sachin',
 'College': 'TCOE',
 'Sem': 'VIII',
 'Subjects': {'BLC': 80, 'CCL': 85, 'DMB': 95, 'BDA': 80, 'Data-Science': 90}}

### Dictionary Operation

In [190]:
# Membership  : It always check the keys.
'Subjects' in s

True

In [195]:
# Iteration
for i in s:
    print(i,s[i])

name Sachin
College TCOE
Sem VIII
Subjects {'BLC': 80, 'CCL': 85, 'DMB': 95, 'BDA': 80, 'Data-Science': 90}

###

### Dictionary Function

In [199]:
# Len
len(s)
# Sorted
# Here the Case Sensitive is the reason that name come last
sorted(s)
# Min
min(s)
# Max
max(s)

'name'

In [202]:
# Items : Here it is presented the key value pair in tuples
print(s)
print(s.items())

{'name': 'Sachin', 'College': 'TCOE', 'Sem': 'VIII', 'Subjects': {'BLC': 80, 'CCL': 85, 'DMB': 95, 'BDA': 80, 'Data-Science': 90}}
dict_items([('name', 'Sachin'), ('College', 'TCOE'), ('Sem', 'VIII'), ('Subjects', {'BLC': 80, 'CCL': 85, 'DMB': 95, 'BDA': 80, 'Data-Science': 90})])

In [204]:
# Keys
print(s.keys())
# values
print(s.values())

dict_keys(['name', 'College', 'Sem', 'Subjects'])
dict_values(['Sachin', 'TCOE', 'VIII', {'BLC': 80, 'CCL': 85, 'DMB': 95, 'BDA': 80, 'Data-Science': 90}])

In [206]:
# Update : here the values are updated on permanent basis in dictionary
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
- { key : Value for var in iterable }

In [209]:
# Print 1st 10 number and their squares
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [210]:
# Use the Existing Dict
distance = { 'Delhi': 1000, 'Mumbai':2000, 'Ujjain': 500}
{key:value*1.6 for (key, value) in distance.items()}

{'Delhi': 1600.0, 'Mumbai': 3200.0, 'Ujjain': 800.0}

### Zip Function

In [211]:
days = {'Monday','Tuesday','Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday'}
temp = {30.5,32,34,28,25,27,35}

{i:j for (i,j) in zip(days,temp)}

{'Monday': 32,
 'Friday': 34,
 'Tuesday': 35,
 'Sunday': 25,
 'Saturday': 27,
 'Wednesday': 28,
 'Thursday': 30.5}

In [213]:
# Using If Condition
products = {'phones': 10, 'Laptop': 5, 'Tablet':0}
{i:j for (i,j) in products.items() if j != 0}

{'phones': 10, 'Laptop': 5}

In [216]:
# Nested Comprehension
# Print the table of number from 2 to 4.
# Here the outer Loop have 3 value and internal loop run j time in given range
{i: { j:i*j for j in range(1,11)}for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [218]:
products = {'phones': 10, 'Laptop': 5, 'Tablet':0}
# Using Items function is more reliable for key values.
{i:j for (i,j) in products.items() if j != 0}

{'phones': 10, 'Laptop': 5}