### Strings are sequence of characters

In [2]:
# Creating String
s = 'Sachin'
a = "Sachin"
b = str(""" Sachin """)
print(s,a,b)

Sachin Sachin  Sachin

In [13]:
# Indexing

s = 'Hello Bro'
print(s[1])
print(s[-1])
len(s)

e
o

9

In [35]:
# Slicing
s = 'Hello BRo'
print(s[0:5])
print(s[2:])
print(s[:4])
print(s[:])
print(s[0:9:2])
print(s[9:0:-1])
print(s[::-1])

Hello
llo BRo
Hell
Hello BRo
HloBo
oRB olle
oRB olleH

In [59]:
# Slicing operation on negative index
s = 'Hello World'
print(s[-1:-6:-1])
print(s[-6:])
print(s[-11:])
print(s[::-1])

dlroW
 World
Hello World
dlroW olleH

In [60]:
# Editing and Deleting in string
s = 'Hello World'
s[0] = 'H'

# Python string is Immutable i.e String cannot change if it created once...!

TypeError: 'str' object does not support item assignment

In [65]:
# Deleting in String
s = 'Hello World'
del s
#print(s)
a = "Hello World"
del a[-1:-5:2]

TypeError: 'str' object does not support item deletion

### Operations on Strings

    * Arithmetic Operation
    * Relational Operation
    * Logical Operation
    * Loops on String
    * Membership Function

In [71]:
# Arithmetic Operation
print('Delhi-'+'Mumbai')
print('Delhi-'*5)

Delhi-Mumbai
Delhi-Delhi-Delhi-Delhi-Delhi-

In [76]:
# Relational Operator
print('Delhi-'== 'Mumbai')
print('Delhi'<'Mumbai')            # Lexicographically means its evaluate on the bases of ASCII Value
print('Delhi-'>'Mumbai')
print('Delhi-'!='Mumbai')

False
True
False
True

In [82]:
# Logical Operator
'Hello' and 'World'                 # Python evaluate the 1 and 2 second string so it taken the second string
'Hello' or 'World'                  # In 'or' condition python check the 1 string is true so didn't evaluate the further string
'' and 'World'                      # Here Empty string represent the False and with string represent true
'' or 'World'

'World'

In [85]:
not 'Hello'             # Not will always reverse the string value.

False

In [86]:
# Loop in string
for i in 'Hello':
    print(i)

H
e
l
l
o

In [87]:
for i in 'Delhi':
    print('pune')

pune
pune
pune
pune
pune

In [89]:
# Membership Function
'D' in 'Delhi'
'D' not in 'Delhi'

False

In [56]:
# String Function
# Len
a = "Hello World"
#len(a)
#max(a)
#min(a)
sorted(a, reverse= True)           # It is allways in ascending order

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

In [8]:
# Capitalize/Title/Upper/Lower/Swapcase
s  = 'hello world'
s.capitalize()

'Hello world'

In [9]:
s.title()

'Hello World'

In [10]:
s.upper()

'HELLO WORLD'

In [11]:
s.lower()

'hello world'

In [12]:
s.swapcase()

'HELLO WORLD'

In [13]:
#Count/find/index
s.count('l')

3

In [15]:
s.find('l')

2

In [17]:
# endswith/Startswith
a.endswith('d')

True

In [19]:
a.startswith('H')

True

In [30]:
# Format
a ='Sachin'
gender = 'Male'

"Hi my Name is {} and i am a {}".format(a,gender)

'Hi my Name is Sachin and i am a Male'

In [31]:
a ='Sachin'
gender = 'Male'

'Hi my Name is {1} and i am a {0}'.format(gender,a)

'Hi my Name is Sachin and i am a Male'

In [32]:
# isalnum/isalpha/isdigit/isidentifier
'Sachin123'.isalnum()

True

In [35]:
'Hello'.isalpha()

True

In [37]:
'1234'.isdigit()

True

In [38]:
'name1'.isidentifier()

True

In [48]:
#Split/Join
'hi my is sachin'.split()
#'hi my name is sachin'.split('is')
#'hi my name is sachin, hello kese ho'.splitlines()

['hi', 'my', 'is', 'sachin']

In [49]:
' '.join(['hi', 'my', 'name', 'is', 'sachin'])

'hi my name is sachin'

In [52]:
# Replace
'hi my name is sachin'.replace('sachin','Shiva')

'hi my name is Shiva'

In [55]:
# Strip
'hi my name is sachin                       '.strip()

'hi my name is sachin'

In [60]:
# Find the length of given string without using len() Function
s = input('Enter the string')
print("The given string is:", s)
counter = 0         # Counter 0 is set for the inital index number

for i in s:
    counter += 1            # This condition is set for the increment of counter by 1
print('Length of string is :',counter)

The given string is: Hello World
Length of string is : 11

In [65]:
# Extract the user-name from the given Email-ID

email = input('Enter the Email id ')
username = email.index('@')             # Here we use Slicing and indexing
print(email[0:username])

Sachinyadav5468

In [72]:
# count the frequency of the char from the string
s = input('Enter the string')
term = input('What you like to search')
counter = 0

for i in s:
    if i == term:
        counter +=1

print('The Frequency of term is ',counter)

The Frequency of term is  3

In [73]:
# write a program that will remove particular character

s = input('Enter the string')
term = input('What you want to remove?')

result = ''

for i in s:
    if i != term:
        result = result + i
print(result)

sachin

In [76]:
a =  5//2
print(a)

2

In [78]:
# Write a Program that can check whether a give string is palindrome or not

s = input('Enter the string')
flag = True
for i in range(0,len(s)//2):                # Here we start at the zero position where we string length is divided into 2
    if s[i] != s[len(s)- i - 1 ]:           # here we use the not equal to sign
        flag  = False
        print('Not a Palindrome')
        break
if flag:
    print('It is Palindrome')

It is Palindrome

In [1]:
# Write a program to count the number of words in a string without split

s = input('Enter the string')
print(s)
L = [ ]     # to Storing words we use list data types
d = ''          # here we storing the string
for i in s:
    if i != '':         # Here we check the condition of i = ''
        d = d + i       # if not true then feeded to d
    else:
        L.append(d)         # if space found then that word is store in list and again the condition start evaluate
L.append(d)
print(L)

hello world
['hello world']

In [93]:
# Write a program to convert a string to title case without using the title()

s = input('Enter the string')

L = []

for i in s.split():
    L.append(i[0].upper() + i[1:].lower() )
print(' '.join(L))
    #print(i[0].upper() + i[1:].lower())

Hello Aap Kese Ho

In [97]:
# Write a program that can convert an integer to string
s = int(input('Enter the string'))
a = str(s)
print(a)
type(a)

25546

str